pkgbase = qwerty-antznin
	pkgdesc = QWERTY keyboard layout for francophone developers
	pkgver = 0.9.1
	pkgrel = 1
	url = https://qwerty-lafayette.org/
	arch = any
	license = WTFPL
	makedepends = python-pip
	makedepends = python-virtualenv
	depends = xorg-server
	source = qwerty-antznin.toml
	sha256sums = 40d07ebf0ea9a864430fea0825ce3817e2ecd3c77b81c7e0bb4b77d86ede9067

pkgname = qwerty-antznin
