pkgbase = qwerty-antznin
	pkgdesc = QWERTY keyboard layout for francophone developers
	pkgver = 0.9.4
	pkgrel = 1
	url = https://qwerty-lafayette.org/
	arch = any
	license = WTFPL
	makedepends = python-pip
	makedepends = python-virtualenv
	depends = xorg-server
	source = qwerty-antznin.toml
	sha256sums = c03094612d62eb5d226bf74822024ae814166490459c0ed89a60517461cc43ed

pkgname = qwerty-antznin
